div {
    position: relative; 
    padding: 10px;
}

#divProjectGeneralData {
    text-align: left;
}

#tblMorphChart {
    border: 0; 
    border-collapse:collapse;
}

#tblMorphChart th {
    border-bottom: 7px double black;
    height: 50px;
}

#tblMorphChart th:first-child {
    border-right: 7px double black;
}

#tblMorphChart > tbody > tr > td:first-child {
    border-right: 7px double;
}

#tblMorphChart td:first-child{
    border-left: 1px solid black;
}

#tblMorphChart td:last-child{
    border-right: 1px solid black;
}

.divDimension {
    min-width: 300px;
    min-height: 160px;
    text-align: center;
    font-size: 0.9em;
}

.pDimensionDescription {
    font-size: 0.8em; 
}

#tblMorphChart td{
    border-right: none;
    border-left: none;
    word-wrap: break-word; 
}

.pSolutionTitle {
    margin: 0 auto; 
    font-size: 0.8em; 
}

.divSolutionAlternative{
    padding: 1px; 
    border: 1px solid black;
    margin: 10px; 
    height: 150px;
    width: 200px;   
    min-height: 150px;
    min-width: 200px;
}

#imgSketchThumbnail {
    width: 85%;
    height: 85%;
}

.tdAddNewSketch {
    text-align: center;
}

.tdLoggedInUserSketch {
    background-color: #caf7ca;
}

.divSketchDraggable, .divDimensionDraggable {
    cursor: pointer;
}

.divHoveredDroppable {
    background-color: lightgray;
}

#divMergeConfirmationDialog {
    display: none;
}

