#divEditSketchMain {
    width: 100%;
    text-align: center;
}

#cnvSketch {
    border: 2px solid black;
}

#divSketchTools {
    display: inline-block;
    text-align: center;
}

.divSketchField {
    display: inline;
}

.canvas-container {
    margin: 0 auto;
}