#divEditSketchMain {
    text-align: center;
}

#cnvSketch {
    border: 2px solid black;
    width: 99%; 
    height: 99%; 
}

#divSketchTools {
    display: inline-block;
    text-align: center;
}

.divSketchField {
    display: inline;
}
