/* General page styles
-----------------------------------------------------------*/

div {
    position: relative;
    padding: 10px;
    overflow: auto;

}

table th, td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid black;
    padding: 0;
    word-wrap: break-word;
}

#pPromptTitle{
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 0;
    margin-bottom: 0; 
    width: 800px; 
    text-align: center; 
}

#openPrompt{
    height: 30px; 
    width: 30px; 
    display: inline-block;
    vertical-align: middle;
}

#spanProjectTitle{
    display: inline-block;
    vertical-align: middle;
}

/* Table layout styles
-----------------------------------------------------------*/

#divProjectGeneralData {
    text-align: left;
}

#tblMorphChart {
    border: 0;
    border-collapse: collapse;
}

    #tblMorphChart th {
        border-bottom: 7px double black;
        height: 50px;
        min-width: 224px;
    }

    #tblMorphChart tr {
        border: 1px solid black;
    }

    #tblMorphChart td {
        border: none;
    }

    #tblMorphChart th:first-child {
        border-right: 7px double;
    }

    #tblMorphChart td:first-child {
        border-right: 7px double;
    }

.aPlusButton {
    display: block;
    margin-top: 23px;
}

.imgPlusIcon {
    width: 75px;
    height: auto;
}

/* Dimension styles
-----------------------------------------------------------*/
.divDimension {
    min-width: 300px;
    min-height: 160px;
    font-size: 0.9em;
    width: 300px; 
}

.pDimensionDescription {
    font-size: 0.8em;
}

/* Solution Alternative styles
-----------------------------------------------------------*/
.pSolutionTitle {
    margin: 0 auto;
    font-size: 0.8em;
}

.divSolutionAlternative {
    padding: 1px;
    border: 1px solid black;
    margin: 10px;
    height: 150px;
    width: 200px;
    min-height: 150px;
    min-width: 200px;
    background-color: white; 
}

#imgSketchThumbnail {
    width: 82%;
    height: 82%;
}

/* Drag and Drop styles
-----------------------------------------------------------*/

.divSketchDraggable, .divDimensionDraggable {
    cursor: pointer;
    overflow: auto;
}

.divHoveredSolutionDroppable {
    background-color: lightskyblue;
}

.divHoveredDimensionDroppable {
    background-color: lightgoldenrodyellow;
}

.divHoveredNewSolutionDroppable {
    background-color: lightblue;
}

/* Dialogs
-----------------------------------------------------------*/

#divMergeConfirmationDialog {
    display: none;
}

#prompt {
    display: none; 
}
