#divEditSketchMain {
    width: 100%;
    text-align: center;
}

#cnvSketch {
    border: 2px solid black;
}

#divSketchTools {
    display: inline-block;
    text-align: center;
}

.divSketchField {
    display: inline;
}

.canvas-container {
    margin: 0 auto;
}

.active-tool, .active-color, .active-width {
    -ms-opacity: 1;
    opacity: 1;
}

.inactive-tool, .inactive-color, .inactive-width {
    -ms-opacity: 0.3;
    opacity: 0.3;
}