#divEditDimensionMain {
    display: inline;
}

.divDimensionField {
    margin: 5px;
    text-align: left;
}

#txtDescription {
    width: 300px;
    height: 150px;
}

.lblField {
    font-weight: bold;
}
