#divLoginMain {
    position: fixed;
    left: 50%;
    text-align: center;
    border: 1px solid black;
    width: 24em;
    margin-left: -15em;
    max-height: 400px; 
}

.divLoginField {
    text-align: center;
}
