#divLoginMain {
    position: fixed;
    left: 50%;
    text-align: center;
    border: 1px solid black;
    width: 32em;
    height: 18em;
    margin-left: -15em;
}

.divLoginField {
    text-align: left;
}
