div {
    padding: 5px;
}

#divProjectGeneralData {
    text-align: left;
}

#tblMorphChart {
    width: 100%;
    table-layout: fixed;
}

#imgSketchThumbnail {
    width: 50%;
    height: 50%;
}

.cellAddNewSketch {
    text-align: left;
    border: none;
}

.cellAddNewCategory {
    border: none;
}

.btnAddNew {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
