div {
    padding: 5px;
}

#divProjectGeneralData {
    text-align: left;
}

#tblMorphChart {
    width: 100%;
}

#tblMorphChart td {
    word-wrap: break-word;
}

#imgSketchThumbnail {
    width: 50%;
    height: 50%;
}

.tdAddNewSketch {
    text-align: left;
    border: none;
}

.tdAddNewDimension {
    border: none;
}

.tdDimension {
    border-right: double;
}

.tdLoggedInUserSketch {
    background-color: #caf7ca;
}

.tdSketchDraggable, .tdDimensionDraggable {
    cursor: pointer;
}

.tdHoveredDroppable {
    background-color: lightgray;
}

#divMergeConfirmationDialog {
    display: none;
}