div {
    padding: 5px;
}

#divProjectGeneralData {
    text-align: left;
}

#tblMorphChart {
    width: 100%;
    table-layout: fixed;
}

#imgSketchThumbnail {
    width: 50%;
    height: 50%;
}

.cellAddNewSketch {
    text-align: left;
    border: none;
}

.cellAddNewDimension {
    border: none;
}

.tdLoggedInUserSketch {
    background-color: #caf7ca;
}
