@{
    ViewBag.Title = "Sketch";
}

<div id="divSketchTools"></div>
<canvas id="cnvSketch"></canvas>

@section scripts
{
    @Scripts.Render("~/Scripts/sketch.js")
    @Scripts.Render("~/Scripts/Sketch/IndexSketch.js")
}