@{
    ViewBag.Title = "Manage projects";
}
@model IEnumerable<CrowdDesign.Core.Entities.Project>
<div id="divProjectsTable">
    <table id="tblProjects">
        <thead>
            <tr>
                <th colspan="3">Project Management </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var project in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(project.Name, "EditProject", "Project", new { ProjectId = project.Id }, null)</td>
                        <td id="tdDelete">
                            @using (Html.BeginForm("DeleteProject", "Project", new { ProjectId = project.Id }, FormMethod.Post))
                            {
                                <input id="btnDeleteProject" type="submit" value="" />
                            }
                            
                        </td>
                        <td id="tdNameChange">
                             @using (Html.BeginForm("UpdateProject", "Project", FormMethod.Post))
                        {
                            @Html.HiddenFor(ProjectId => project.Id)
                            @Html.EditorFor(ProjectName => project.Name)

                            <input id="btnChangeName" type="submit" value="Alter name" />
                        }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@if (ViewBag.IsUserAdmin)
{
    <div id="divProjectsActions">
        @using (Html.BeginForm("CreateProject", "Project", FormMethod.Post))
        {
            <input id="btnCreateProject" type="submit" value="Create project" />
        }
    </div>
}